# Лабораторная работа 2
Выполнили: Елизарова Юлия, Игошин Андрей, Кипаренко Илья, Кириленко Юлия, Клыков Вячеслав, Лепигина Анастасия

In [1]:
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.feature import OneHotEncoder
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import MinMaxScaler

In [2]:
import sparkmonitor
!jupyter nbextension install sparkmonitor --py --user --symlink 
!jupyter nbextension enable sparkmonitor --py --user            
!jupyter serverextension enable --py --user sparkmonitor
!ipython profile create && echo "c.InteractiveShellApp.extensions.append('sparkmonitor.kernelextension')" >>  $(ipython profile locate default)/ipython_kernel_config.py

Installing /anaconda3/lib/python3.6/site-packages/sparkmonitor/static -> sparkmonitor
- Validating: OK

    To initialize this nbextension in the browser every time the notebook (or other app) loads:

          jupyter nbextension enable sparkmonitor --user --py

Enabling notebook extension sparkmonitor/module...
      - Validating: OK
Enabling: sparkmonitor.serverextension
- Writing config: /Users/a.y.igoshin/.jupyter
    - Validating...
      sparkmonitor.serverextension  OK

In [3]:
from pyspark import SparkContext
sc=SparkContext.getOrCreate(conf=conf) #Start the spark context

In [4]:
spark = SparkSession.builder.appName('MovieRatingsProject').getOrCreate()

In [5]:
info = spark.read.csv('ml-100k/u.info',inferSchema=True,sep='\t')
info.show()

+--------------+
|           _c0|
+--------------+
|     943 users|
|    1682 items|
|100000 ratings|
+--------------+

In [6]:
from pyspark.sql.functions import from_unixtime, year

Датасет содержит 100 000 оценок 934 пользователями 1682 фильмов. Каждый пользователь оценил не менее 20 фильмов.

In [7]:
ratings = spark.read.csv('ml-100k/u.data',inferSchema=True,sep='\t')
ratings = ratings.withColumnRenamed('_c0','user_id').withColumnRenamed('_c1','movie_id').withColumnRenamed('_c2','rating').withColumnRenamed('_c3','timestamp')
# ratings.show()

In [8]:
ratings = ratings.withColumn('year_rated', year(from_unixtime('timestamp')))

In [9]:
ratings.show()

+-------+--------+------+---------+----------+
|user_id|movie_id|rating|timestamp|year_rated|
+-------+--------+------+---------+----------+
|    196|     242|     3|881250949|      1997|
|    186|     302|     3|891717742|      1998|
|     22|     377|     1|878887116|      1997|
|    244|      51|     2|880606923|      1997|
|    166|     346|     1|886397596|      1998|
|    298|     474|     4|884182806|      1998|
|    115|     265|     2|881171488|      1997|
|    253|     465|     5|891628467|      1998|
|    305|     451|     3|886324817|      1998|
|      6|      86|     3|883603013|      1998|
|     62|     257|     2|879372434|      1997|
|    286|    1014|     5|879781125|      1997|
|    200|     222|     5|876042340|      1997|
|    210|      40|     3|891035994|      1998|
|    224|      29|     3|888104457|      1998|
|    303|     785|     3|879485318|      1997|
|    122|     387|     5|879270459|      1997|
|    194|     274|     2|879539794|      1997|
|    291|    1042|     4|874834944|      1997|
|    234|    1184|     2|892079237|      1998|
+-------+--------+------+---------+----------+
only showing top 20 rows

Информация о каждом фильме включает в себя название, даты выхода в прокат и появления в магазинах, ссылку на IMDB и жанр. Причем один фильм может быть отнесен к нескольким жанрам.

In [10]:
movies = spark.read.csv('ml-100k/u.item', inferSchema=True, sep='|')
names = ['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
for i in range(len(names)):
    movies = movies.withColumnRenamed('_c'+str(i), names[i])

In [11]:
from pyspark.sql.functions import to_date

In [12]:
movies = movies.withColumn('year_released', year(to_date('release_date', 'dd-MMM-yyyy')))

In [13]:
movies.show()

+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+
|movie_id|         movie_title|release_date|video_release_date|            IMDb_URL|unknown|Action|Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|year_released|
+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+
|       1|    Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|       2|    GoldenEye (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1995|
|       3|   Four Rooms (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1995|
|       4|   Get Shorty (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|       5|      Copycat (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1995|
|       6|Shanghai Triad (Y...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|       7|Twelve Monkeys (1...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     1|       0|  0|      0|         1995|
|       8|         Babe (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         1|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|       9|Dead Man Walking ...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|      10|  Richard III (1995)| 22-Jan-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0|         1996|
|      11|Seven (Se7en) (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1995|
|      12|Usual Suspects, T...| 14-Aug-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1995|
|      13|Mighty Aphrodite ...| 30-Oct-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|      14|  Postino, Il (1994)| 01-Jan-1994|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|         1994|
|      15|Mr. Holland's Opu...| 29-Jan-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|
|      16|French Twist (Gaz...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|         1995|
|      17|From Dusk Till Da...| 05-Feb-1996|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     1|    1|          0|    0|      0|        0|     1|      0|      0|      0|     0|       1|  0|      0|         1996|
|      18|White Balloon, Th...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|      19|Antonia's Line (1...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|      20|Angels and Insect...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|         1995|
+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+
only showing top 20 rows

Информация о каждом пользователе включает в себя возраст, пол, профессию и почтовый индекс.

In [14]:
users = spark.read.csv('ml-100k/u.user', inferSchema=True, sep='|')
names = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
for i in range(len(names)):
    users = users.withColumnRenamed('_c'+str(i), names[i])
users.show()

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|      1| 24|     M|   technician|   85711|
|      2| 53|     F|        other|   94043|
|      3| 23|     M|       writer|   32067|
|      4| 24|     M|   technician|   43537|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|   05201|
|      9| 29|     M|      student|   01002|
|     10| 53|     M|       lawyer|   90703|
|     11| 39|     F|        other|   30329|
|     12| 28|     F|        other|   06405|
|     13| 47|     M|     educator|   29206|
|     14| 45|     M|    scientist|   55106|
|     15| 49|     F|     educator|   97301|
|     16| 21|     M|entertainment|   10309|
|     17| 30|     M|   programmer|   06355|
|     18| 35|     F|        other|   37212|
|     19| 40|     M|    librarian|   02138|
|     20| 42|     F|    homemaker|   95660|
+-------+---+------+-------------+--------+
only showing top 20 rows

In [15]:
stringIndexer = StringIndexer(inputCol="gender", outputCol="indexed_gender", handleInvalid='error')
model = stringIndexer.fit(users)
users = model.transform(users)
encoder = OneHotEncoder(inputCol="indexed_gender", outputCol='gender_feature')
users = encoder.transform(users)

stringIndexer = StringIndexer(inputCol="occupation", outputCol="indexed_occupation", handleInvalid='error')
model = stringIndexer.fit(users)
users = model.transform(users)
encoder = OneHotEncoder(inputCol="indexed_occupation", outputCol='occupation_feature')
users = encoder.transform(users)

In [16]:
users.show()

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|      1| 24|     M|   technician|   85711|
|      2| 53|     F|        other|   94043|
|      3| 23|     M|       writer|   32067|
|      4| 24|     M|   technician|   43537|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|   05201|
|      9| 29|     M|      student|   01002|
|     10| 53|     M|       lawyer|   90703|
|     11| 39|     F|        other|   30329|
|     12| 28|     F|        other|   06405|
|     13| 47|     M|     educator|   29206|
|     14| 45|     M|    scientist|   55106|
|     15| 49|     F|     educator|   97301|
|     16| 21|     M|entertainment|   10309|
|     17| 30|     M|   programmer|   06355|
|     18| 35|     F|        other|   37212|
|     19| 40|     M|    librarian|   02138|
|     20| 42|     F|    homemaker|   95660|
+-------+---+------+-------------+--------+
only showing top 20 rows

In [17]:
genres = ['unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

Для получения целостного датасета было принято решение собрать датафреймы с оценками и информацией о фильмах и пользователях в один.

In [18]:
joined_df = ratings.join(users, ["user_id"], 'outer').drop('zip_code', 'timestamp')
joined_df = joined_df.join(movies, ["movie_id"], 'outer').drop('movie_title', 'release_date', 'video_release_date', 'IMDb_URL')

In [19]:
joined_df = joined_df.withColumn('rated_released_year_diff', joined_df.year_rated - joined_df.year_released)

In [20]:
joined_df.show()

+--------+-------+------+----------+---+------+----------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
|movie_id|user_id|rating|year_rated|age|gender|occupation|unknown|Action|Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|year_released|rated_released_year_diff|
+--------+-------+------+----------+---+------+----------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
|     148|    251|     2|      1998| 28|     M|    doctor|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    580|     4|      1998| 16|     M|   student|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    633|     1|      1997| 35|     M|programmer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    642|     5|      1998| 18|     F|   student|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    406|     3|      1997| 52|     M|  educator|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|     26|     3|      1998| 49|     M|  engineer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|     27|     3|      1998| 40|     F| librarian|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    332|     5|      1998| 20|     M|   student|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|     44|     4|      1997| 26|     M|technician|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    271|     3|      1998| 51|     M|  engineer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    606|     3|      1997| 28|     M|programmer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    916|     2|      1997| 27|     M|  engineer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    236|     4|      1998| 44|     F|    writer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    602|     4|      1998| 47|     F|     other|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    663|     4|      1998| 26|     M|     other|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    222|     2|      1997| 29|     M|programmer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    601|     3|      1997| 19|     F|    artist|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    330|     4|      1997| 35|     F|  educator|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    372|     5|      1997| 25|     F|   student|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    727|     2|      1998| 25|     M|   student|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
+--------+-------+------+----------+---+------+----------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
only showing top 20 rows

Категориальные значения (профессия, пол) были оформлены при помощи one-hot encoding.

In [21]:


# mmScaler = MinMaxScaler(inputCol="age", outputCol="scaled_age")
# model = mmScaler.fit(joined_df)
# model.transform(joined_df)

# joined_df = joined_df.drop("user_id", "movie_id", "gender", "indexed_gender", "occupation", "indexed_occupation", "age")
# joined_df.show()
joined_df.show()

+--------+-------+------+----------+---+------+----------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
|movie_id|user_id|rating|year_rated|age|gender|occupation|unknown|Action|Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|year_released|rated_released_year_diff|
+--------+-------+------+----------+---+------+----------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
|     148|    251|     2|      1998| 28|     M|    doctor|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    580|     4|      1998| 16|     M|   student|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    633|     1|      1997| 35|     M|programmer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    642|     5|      1998| 18|     F|   student|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    406|     3|      1997| 52|     M|  educator|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|     26|     3|      1998| 49|     M|  engineer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|     27|     3|      1998| 40|     F| librarian|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    332|     5|      1998| 20|     M|   student|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|     44|     4|      1997| 26|     M|technician|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    271|     3|      1998| 51|     M|  engineer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    606|     3|      1997| 28|     M|programmer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    916|     2|      1997| 27|     M|  engineer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    236|     4|      1998| 44|     F|    writer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    602|     4|      1998| 47|     F|     other|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    663|     4|      1998| 26|     M|     other|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    222|     2|      1997| 29|     M|programmer|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    601|     3|      1997| 19|     F|    artist|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    330|     4|      1997| 35|     F|  educator|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    372|     5|      1997| 25|     F|   student|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    727|     2|      1998| 25|     M|   student|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
+--------+-------+------+----------+---+------+----------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
only showing top 20 rows

In [22]:
avg_ratings_df = joined_df.select(['user_id', 'rating']  + genres)

for genre in genres:
    avg_ratings_df = avg_ratings_df.withColumn('rating {}'.format(genre), avg_ratings_df[genre] * avg_ratings_df.rating)

genre_ratings = list(map(lambda genre: 'rating {}'.format(genre), genres))
df1 = avg_ratings_df.groupBy('user_id').sum(*genres)
df2 = avg_ratings_df.groupBy('user_id').sum(*genre_ratings)

avg_ratings_df = df1.join(df2, ['user_id'])
for genre in genres:
    sum_rating_col = 'sum(rating {})'.format(genre)
    count_col = 'sum({})'.format(genre)
    avg_ratings_df = avg_ratings_df.withColumn('avg({})'
                                   .format(genre), avg_ratings_df[sum_rating_col] / avg_ratings_df[count_col])
    avg_ratings_df = avg_ratings_df.drop(sum_rating_col, count_col)

avg_ratings_df = avg_ratings_df.fillna(value=0)
avg_ratings_df.show()
avg_ratings_df.toPandas().to_csv('~/avg_ratings.csv')

+-------+------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+
|user_id|avg(unknown)|       avg(Action)|    avg(Adventure)|    avg(Animation)|   avg(Children's)|       avg(Comedy)|        avg(Crime)|  avg(Documentary)|        avg(Drama)|avg(Fantasy)|   avg(Film-Noir)|       avg(Horror)|      avg(Musical)|      avg(Mystery)|      avg(Romance)|       avg(Sci-Fi)|     avg(Thriller)|          avg(War)|avg(Western)|
+-------+------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+
|    148|         0.0|3.9166666666666665| 3.933333333333333| 4.428571428571429|               3.8|              4.45|3.6666666666666665|               0.0|              3.68|         0.0|              5.0|               2.0| 4.454545454545454|               3.0| 4.333333333333333| 4.461538461538462|               3.6|               4.1|         2.0|
|    463|         0.0| 2.761904761904762|               2.4|               2.2|2.0588235294117645|              2.46|               3.5|               4.0| 3.406779661016949|         2.5|              5.0|               1.0|1.8571428571428572| 4.666666666666667|3.2857142857142856|3.3333333333333335|2.7058823529411766|2.5555555555555554|         0.0|
|    471|         0.0|               4.0| 3.857142857142857|            2.6875|3.3461538461538463| 4.416666666666667|               0.0|               0.0|3.3333333333333335|         0.0|              0.0|               0.0| 2.111111111111111|               4.0|               4.0|               4.0|               0.0|               3.5|         0.0|
|    496|         0.0|           3.09375|2.7916666666666665|             3.125| 2.380952380952381|              2.75|3.6666666666666665|               0.0|3.2115384615384617|         3.0|              4.0|3.3333333333333335|2.6666666666666665|2.7142857142857144|3.6818181818181817|              3.12|               2.8|              4.25|         2.0|
|    833|         1.0| 2.736111111111111| 2.533333333333333|               4.0|               4.0| 2.753846153846154|3.3714285714285714|               4.0|3.3092783505154637|         3.0|4.111111111111111|               3.0|               2.4|               3.1|2.6153846153846154|2.8085106382978724|2.9722222222222223|3.3181818181818183|         4.0|
|    243|         0.0|3.6666666666666665|              3.75|               4.0|3.6666666666666665|3.5555555555555554|3.3333333333333335|               4.0|3.6271186440677967|         3.0|              0.0|               4.0|               0.0|               5.0| 3.423076923076923|               3.0|              3.25|               4.0|         4.0|
|    392|         0.0|               3.6| 4.166666666666667|               3.8|               4.0| 4.071428571428571|4.2727272727272725|               4.0| 4.298245614035087|         0.0|4.666666666666667|               3.5|               4.5|3.5555555555555554|               4.0|3.3636363636363638| 3.736842105263158| 4.090909090909091|         4.0|
|    540|         0.0|3.6842105263157894|             3.875|               3.2|              3.25|             3.625|               4.0|               0.0|3.7857142857142856|         3.0|              0.0|               4.0|               3.5|               3.5|3.8181818181818183|3.9166666666666665|             3.625| 3.857142857142857|         0.0|
|    623|         0.0|               4.0| 4.333333333333333|               0.0|               0.0| 3.789473684210526|              3.75|               0.0|3.5833333333333335|         0.0|              3.5|               3.0|3.3333333333333335|               4.0| 3.823529411764706|               3.9|             3.375|               4.0|         5.0|
|    737|         0.0|              3.75|               3.0|               2.5|               1.0|               4.0|               4.5|               4.0|              4.25|         0.0|              4.0|               0.0|               3.0|               0.0|               4.0|               4.0|               3.8| 4.333333333333333|         0.0|
|    858|         0.0|3.6666666666666665|               2.5|               0.0|               0.0|               4.0|3.5714285714285716|               0.0|3.4166666666666665|         0.0|              0.0|               3.0|               3.0|               3.5|               3.0|               2.0|             3.125|              3.25|         0.0|
|    897|         0.0| 4.192982456140351| 4.085714285714285| 4.181818181818182| 4.038461538461538| 3.767857142857143|3.4166666666666665|               0.0| 3.890909090909091|         4.4|              4.0| 4.571428571428571|               4.2| 4.166666666666667|            3.9375| 4.178571428571429|              3.95|              4.25|         4.0|
|     31|         0.0|               3.4|               4.0|               0.0|               0.0|               4.2|              4.25| 4.666666666666667|3.8461538461538463|         0.0|             4.25|               2.0|               4.5|3.6666666666666665|               3.6| 4.333333333333333| 3.111111111111111|               4.0|         0.0|
|    516|         0.0|               4.0|               4.0|               5.0|               0.0|               4.2| 4.333333333333333|               0.0|3.9166666666666665|         0.0|              0.0|               0.0|               3.0|               4.5|              4.75|               4.4|               5.0| 4.142857142857143|         0.0|
|     85|         0.0|3.4130434782608696|              3.25|               3.6|3.5217391304347827|3.5402298850574714|3.8181818181818183|               3.5|3.5526315789473686|         3.5|              4.0|               4.0|3.7916666666666665|               3.5| 3.769230769230769|3.6538461538461537| 3.310344827586207| 3.757575757575758|       3.375|
|    137|         0.0| 4.857142857142857| 4.928571428571429|               3.0|              3.75|               4.0|               4.5|               0.0|3.3333333333333335|         4.0|              5.0|               5.0|               3.0|               4.0|4.2727272727272725| 4.857142857142857| 4.785714285714286|               4.0|         1.0|
|    251|         0.0|3.7419354838709675| 3.764705882352941|3.6666666666666665|               4.2|              3.75|               3.6|               3.0| 4.130434782608695|         3.0|              0.0| 4.666666666666667|               4.0|               2.5|              3.75|3.9285714285714284| 3.769230769230769| 4.428571428571429|         0.0|
|    451|         0.0| 3.176470588235294|2.5714285714285716|               1.0|              2.25|2.6538461538461537|               3.0|2.6666666666666665| 2.473684210526316|         1.0|              2.0|               3.0|1.3333333333333333|3.8181818181818183| 2.823529411764706|               3.4| 3.586206896551724|2.8333333333333335|         0.0|
|    580|         0.0|3.4545454545454546|3.8181818181818183|               3.0|               2.5|3.5833333333333335|               3.0|               0.0|3.5833333333333335|         0.0|              0.0| 4.666666666666667|               5.0|               2.0|3.7142857142857144| 4.461538461538462|            3.0625| 4.142857142857143|         0.0|
|    808|         0.0|3.8333333333333335|               3.0|               0.0|               0.0|               4.0|               4.4|               0.0| 4.153846153846154|         0.0|              5.0|               3.0|               0.0|              4.25| 4.166666666666667|               4.0| 3.727272727272727|3.6666666666666665|         0.0|
+-------+------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+
only showing top 20 rows

In [23]:
average_movie_rating = ratings.select('movie_id', 'rating')
average_movie_rating = average_movie_rating.groupBy('movie_id').avg()

average_movie_rating.toPandas().to_csv('~/average_movie_rating.csv')
average_movie_rating.show()

+--------+-------------+------------------+
|movie_id|avg(movie_id)|       avg(rating)|
+--------+-------------+------------------+
|     496|        496.0| 4.121212121212121|
|     471|        471.0|3.6108597285067874|
|     463|        463.0| 3.859154929577465|
|     148|        148.0|          3.203125|
|    1342|       1342.0|               2.5|
|     833|        833.0| 3.204081632653061|
|    1088|       1088.0| 2.230769230769231|
|    1591|       1591.0|3.1666666666666665|
|    1238|       1238.0|             3.125|
|    1580|       1580.0|               1.0|
|    1645|       1645.0|               4.0|
|     392|        392.0|3.5441176470588234|
|     623|        623.0| 2.923076923076923|
|     540|        540.0| 2.511627906976744|
|     858|        858.0|               1.0|
|     737|        737.0| 2.983050847457627|
|     243|        243.0|2.4393939393939394|
|    1025|       1025.0|2.9318181818181817|
|    1084|       1084.0| 3.857142857142857|
|    1127|       1127.0| 2.909090909090909|
+--------+-------------+------------------+
only showing top 20 rows

In [24]:
popularity = ratings.select('movie_id')
popularity = popularity.groupBy('movie_id').count()

popularity.toPandas().to_csv('~/movie_popularity.csv')
popularity.show()

+--------+-----+
|movie_id|count|
+--------+-----+
|     496|  231|
|     471|  221|
|     463|   71|
|     148|  128|
|    1342|    2|
|     833|   49|
|    1088|   13|
|    1591|    6|
|    1238|    8|
|    1580|    1|
|    1645|    1|
|     392|   68|
|     623|   39|
|     540|   43|
|     858|    3|
|     737|   59|
|     243|  132|
|    1025|   44|
|    1084|   21|
|    1127|   11|
+--------+-----+
only showing top 20 rows

In [25]:
joined_df = joined_df.join(average_movie_rating, 'movie_id')
# joined_df.join(popularity, ['movie_id'])

from pyspark.mllib.stat import Statistics

In [26]:
joined_df = joined_df.join(avg_ratings_df, ['user_id'])
final_df = joined_df.drop("user_id", "movie_id", "gender", "indexed_gender", "occupation", "indexed_occupation", "age")
final_df.show()

+------+----------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+-------------+------------------+------------+------------------+-----------------+-----------------+---------------+-----------+------------------+----------------+----------+------------+--------------+-----------+-----------------+------------+-----------------+-----------------+-------------+--------+------------+
|rating|year_rated|unknown|Action|Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|year_released|rated_released_year_diff|avg(movie_id)|       avg(rating)|avg(unknown)|       avg(Action)|   avg(Adventure)|   avg(Animation)|avg(Children's)|avg(Comedy)|        avg(Crime)|avg(Documentary)|avg(Drama)|avg(Fantasy)|avg(Film-Noir)|avg(Horror)|     avg(Musical)|avg(Mystery)|     avg(Romance)|      avg(Sci-Fi)|avg(Thriller)|avg(War)|avg(Western)|
+------+----------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+-------------+------------------+------------+------------------+-----------------+-----------------+---------------+-----------+------------------+----------------+----------+------------+--------------+-----------+-----------------+------------+-----------------+-----------------+-------------+--------+------------+
|     5|      1997|      0|     0|        0|        1|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1996|                       1|        408.0| 4.491071428571429|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     4|      1997|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|                       2|          1.0|3.8783185840707963|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     1|      1997|      0|     0|        1|        0|         1|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1993|                       4|        140.0|3.2131147540983607|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     5|      1997|      0|     0|        0|        1|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|        114.0| 4.447761194029851|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     5|      1997|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|         1994|                       3|         70.0|3.6613545816733066|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     4|      1997|      0|     0|        1|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1956|                      41|        495.0|3.6610169491525424|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     5|      1997|      0|     1|        1|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     1|       0|  1|      0|         1980|                      17|        172.0| 4.204359673024523|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     5|      1997|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1971|                      26|       1149.0|3.8461538461538463|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     2|      1997|      0|     1|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      1|         1966|                      31|        177.0|3.8613138686131387|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     1|      1997|      0|     0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     1|      0|      0|      1|     0|       1|  0|      0|         1960|                      37|        185.0| 4.100418410041841|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     4|      1997|      0|     0|        0|        1|         1|     0|    0|          0|    0|      0|        0|     0|      1|      0|      0|     0|       0|  0|      0|         1941|                      56|        501.0|3.4959349593495936|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     5|      1997|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1985|                      12|        529.0| 3.978494623655914|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     3|      1997|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1991|                       6|         98.0|  4.28974358974359|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     5|      1997|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      1|      0|      0|     0|       0|  1|      0|         1982|                      15|        214.0|3.3508771929824563|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     5|      1997|      0|     0|        0|        1|         1|     0|    0|          0|    0|      0|        0|     0|      1|      0|      0|     0|       0|  0|      0|         1996|                       1|        596.0| 3.377952755905512|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     5|      1997|      0|     0|        0|        1|         1|     0|    0|          0|    0|      0|        0|     0|      1|      0|      0|     0|       0|  0|      0|         1994|                       3|         71.0|3.7818181818181817|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     4|      1997|      0|     0|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1997|                       0|       1012.0|              3.53|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     4|      1997|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     1|       0|  0|      0|         1982|                      15|        228.0|3.8155737704918034|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     5|      1997|      0|     0|        0|        1|         1|     0|    0|          0|    0|      0|        0|     0|      1|      0|      0|     0|       0|  0|      0|         1996|                       1|        473.0| 3.126984126984127|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
|     5|      1997|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1975|                      22|        357.0| 4.291666666666667|         0.0|3.9166666666666665|3.933333333333333|4.428571428571429|            3.8|       4.45|3.6666666666666665|             0.0|      3.68|         0.0|           5.0|        2.0|4.454545454545454|         3.0|4.333333333333333|4.461538461538462|          3.6|     4.1|         2.0|
+------+----------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+-------------+------------------+------------+------------------+-----------------+-----------------+---------------+-----------+------------------+----------------+----------+------------+--------------+-----------+-----------------+------------+-----------------+-----------------+-------------+--------+------------+
only showing top 20 rows

In [27]:
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import NaiveBayes

In [28]:
answer_col = 'rating'
features_col = 'features'
input_cols = [col for col in final_df.columns if col != answer_col]
assembler = VectorAssembler(inputCols=input_cols, outputCol=features_col)

print(input_cols)

['year_rated', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'year_released', 'rated_released_year_diff', 'avg(movie_id)', 'avg(rating)', 'avg(unknown)', 'avg(Action)', 'avg(Adventure)', 'avg(Animation)', "avg(Children's)", 'avg(Comedy)', 'avg(Crime)', 'avg(Documentary)', 'avg(Drama)', 'avg(Fantasy)', 'avg(Film-Noir)', 'avg(Horror)', 'avg(Musical)', 'avg(Mystery)', 'avg(Romance)', 'avg(Sci-Fi)', 'avg(Thriller)', 'avg(War)', 'avg(Western)']

In [29]:
data = assembler.transform(final_df)
data = data.select(answer_col,features_col)
data.show(truncate=False)

+------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|rating|features                                                                                                                                                                                                                                                                                                                      |
+------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|5     |(43,[0,4,6,17,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1.0,1996.0,1.0,408.0,4.491071428571429,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                     |
|4     |(43,[0,4,5,6,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1.0,1995.0,2.0,1.0,3.8783185840707963,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                       |
|1     |(43,[0,3,5,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1993.0,4.0,140.0,3.2131147540983607,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                           |
|5     |(43,[0,4,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1996.0,1.0,114.0,4.447761194029851,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                                  |
|5     |(43,[0,6,15,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1994.0,3.0,70.0,3.6613545816733066,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                           |
|4     |(43,[0,3,6,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1956.0,41.0,495.0,3.6610169491525424,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                          |
|5     |(43,[0,2,3,9,15,16,18,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1.0,1.0,1.0,1.0,1980.0,17.0,172.0,4.204359673024523,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])|
|5     |(43,[0,9,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1971.0,26.0,1149.0,3.8461538461538463,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                               |
|2     |(43,[0,2,19,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1966.0,31.0,177.0,3.8613138686131387,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                         |
|1     |(43,[0,12,15,17,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1.0,1960.0,37.0,185.0,4.100418410041841,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                  |
|4     |(43,[0,4,5,13,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1.0,1941.0,56.0,501.0,3.4959349593495936,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                   |
|5     |(43,[0,9,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1985.0,12.0,529.0,3.978494623655914,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                                 |
|3     |(43,[0,9,17,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1991.0,6.0,98.0,4.28974358974359,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                             |
|5     |(43,[0,9,13,18,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1.0,1982.0,15.0,214.0,3.3508771929824563,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                  |
|5     |(43,[0,4,5,13,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1.0,1996.0,1.0,596.0,3.377952755905512,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                     |
|5     |(43,[0,4,5,13,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1.0,1994.0,3.0,71.0,3.7818181818181817,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                     |
|4     |(43,[0,6,9,20,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1997.0,1012.0,3.53,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                                               |
|4     |(43,[0,2,3,16,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1.0,1982.0,15.0,228.0,3.8155737704918034,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                   |
|5     |(43,[0,4,5,13,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1.0,1.0,1996.0,1.0,473.0,3.126984126984127,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                     |
|5     |(43,[0,9,20,21,22,23,25,26,27,28,29,30,32,34,35,36,37,38,39,40,41,42],[1997.0,1.0,1975.0,22.0,357.0,4.291666666666667,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                                 |
+------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [30]:
training, test = data.randomSplit([0.7, 0.3])

In [31]:
rf = RandomForestRegressor(labelCol=answer_col)

In [32]:
model = rf.fit(training)

Py4JJavaError: An error occurred while calling o466.fit.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 97.0 failed 1 times, most recent failure: Lost task 0.0 in stage 97.0 (TID 5070, localhost, executor driver): org.apache.spark.SparkException: Failed to execute user defined function($anonfun$4: (struct<year_rated_double_VectorAssembler_f91bcc66438c:double,unknown_double_VectorAssembler_f91bcc66438c:double,Action_double_VectorAssembler_f91bcc66438c:double,Adventure_double_VectorAssembler_f91bcc66438c:double,Animation_double_VectorAssembler_f91bcc66438c:double,Children's_double_VectorAssembler_f91bcc66438c:double,Comedy_double_VectorAssembler_f91bcc66438c:double,Crime_double_VectorAssembler_f91bcc66438c:double,Documentary_double_VectorAssembler_f91bcc66438c:double,Drama_double_VectorAssembler_f91bcc66438c:double,Fantasy_double_VectorAssembler_f91bcc66438c:double,Film-Noir_double_VectorAssembler_f91bcc66438c:double,Horror_double_VectorAssembler_f91bcc66438c:double,Musical_double_VectorAssembler_f91bcc66438c:double,Mystery_double_VectorAssembler_f91bcc66438c:double,Romance_double_VectorAssembler_f91bcc66438c:double,Sci-Fi_double_VectorAssembler_f91bcc66438c:double,Thriller_double_VectorAssembler_f91bcc66438c:double,War_double_VectorAssembler_f91bcc66438c:double,Western_double_VectorAssembler_f91bcc66438c:double,year_released_double_VectorAssembler_f91bcc66438c:double,rated_released_year_diff_double_VectorAssembler_f91bcc66438c:double,avg(movie_id):double,avg(rating):double,avg(unknown):double,avg(Action):double,avg(Adventure):double,avg(Animation):double,avg(Children's):double,avg(Comedy):double,avg(Crime):double,avg(Documentary):double,avg(Drama):double,avg(Fantasy):double,avg(Film-Noir):double,avg(Horror):double,avg(Musical):double,avg(Mystery):double,avg(Romance):double,avg(Sci-Fi):double,avg(Thriller):double,avg(War):double,avg(Western):double>) => struct<type:tinyint,size:int,indices:array<int>,values:array<double>>)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage26.sort_addToSorter_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage26.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$2.hasNext(WholeStageCodegenExec.scala:638)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:390)
	at scala.collection.Iterator$class.foreach(Iterator.scala:891)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1334)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at scala.collection.AbstractIterator.to(Iterator.scala:1334)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at scala.collection.AbstractIterator.toBuffer(Iterator.scala:1334)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at scala.collection.AbstractIterator.toArray(Iterator.scala:1334)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1364)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1364)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2101)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2101)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:402)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:408)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Encountered null while assembling a row with handleInvalid = "keep". Consider
removing nulls from dataset or using handleInvalid = "keep" or "skip".
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:287)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:255)
	at scala.collection.IndexedSeqOptimized$class.foreach(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.WrappedArray.foreach(WrappedArray.scala:35)
	at org.apache.spark.ml.feature.VectorAssembler$.assemble(VectorAssembler.scala:255)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$4.apply(VectorAssembler.scala:144)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$4.apply(VectorAssembler.scala:143)
	... 32 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1887)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1875)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1874)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1874)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2108)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2057)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2046)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.rdd.RDD$$anonfun$take$1.apply(RDD.scala:1364)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.take(RDD.scala:1337)
	at org.apache.spark.ml.tree.impl.DecisionTreeMetadata$.buildMetadata(DecisionTreeMetadata.scala:112)
	at org.apache.spark.ml.tree.impl.RandomForest$.run(RandomForest.scala:106)
	at org.apache.spark.ml.regression.RandomForestRegressor$$anonfun$train$1.apply(RandomForestRegressor.scala:133)
	at org.apache.spark.ml.regression.RandomForestRegressor$$anonfun$train$1.apply(RandomForestRegressor.scala:119)
	at org.apache.spark.ml.util.Instrumentation$$anonfun$11.apply(Instrumentation.scala:183)
	at scala.util.Try$.apply(Try.scala:192)
	at org.apache.spark.ml.util.Instrumentation$.instrumented(Instrumentation.scala:183)
	at org.apache.spark.ml.regression.RandomForestRegressor.train(RandomForestRegressor.scala:119)
	at org.apache.spark.ml.regression.RandomForestRegressor.train(RandomForestRegressor.scala:46)
	at org.apache.spark.ml.Predictor.fit(Predictor.scala:118)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Failed to execute user defined function($anonfun$4: (struct<year_rated_double_VectorAssembler_f91bcc66438c:double,unknown_double_VectorAssembler_f91bcc66438c:double,Action_double_VectorAssembler_f91bcc66438c:double,Adventure_double_VectorAssembler_f91bcc66438c:double,Animation_double_VectorAssembler_f91bcc66438c:double,Children's_double_VectorAssembler_f91bcc66438c:double,Comedy_double_VectorAssembler_f91bcc66438c:double,Crime_double_VectorAssembler_f91bcc66438c:double,Documentary_double_VectorAssembler_f91bcc66438c:double,Drama_double_VectorAssembler_f91bcc66438c:double,Fantasy_double_VectorAssembler_f91bcc66438c:double,Film-Noir_double_VectorAssembler_f91bcc66438c:double,Horror_double_VectorAssembler_f91bcc66438c:double,Musical_double_VectorAssembler_f91bcc66438c:double,Mystery_double_VectorAssembler_f91bcc66438c:double,Romance_double_VectorAssembler_f91bcc66438c:double,Sci-Fi_double_VectorAssembler_f91bcc66438c:double,Thriller_double_VectorAssembler_f91bcc66438c:double,War_double_VectorAssembler_f91bcc66438c:double,Western_double_VectorAssembler_f91bcc66438c:double,year_released_double_VectorAssembler_f91bcc66438c:double,rated_released_year_diff_double_VectorAssembler_f91bcc66438c:double,avg(movie_id):double,avg(rating):double,avg(unknown):double,avg(Action):double,avg(Adventure):double,avg(Animation):double,avg(Children's):double,avg(Comedy):double,avg(Crime):double,avg(Documentary):double,avg(Drama):double,avg(Fantasy):double,avg(Film-Noir):double,avg(Horror):double,avg(Musical):double,avg(Mystery):double,avg(Romance):double,avg(Sci-Fi):double,avg(Thriller):double,avg(War):double,avg(Western):double>) => struct<type:tinyint,size:int,indices:array<int>,values:array<double>>)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage26.sort_addToSorter_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage26.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$2.hasNext(WholeStageCodegenExec.scala:638)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:409)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:390)
	at scala.collection.Iterator$class.foreach(Iterator.scala:891)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1334)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at scala.collection.AbstractIterator.to(Iterator.scala:1334)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at scala.collection.AbstractIterator.toBuffer(Iterator.scala:1334)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at scala.collection.AbstractIterator.toArray(Iterator.scala:1334)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1364)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1364)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2101)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2101)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:402)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:408)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: org.apache.spark.SparkException: Encountered null while assembling a row with handleInvalid = "keep". Consider
removing nulls from dataset or using handleInvalid = "keep" or "skip".
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:287)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:255)
	at scala.collection.IndexedSeqOptimized$class.foreach(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.WrappedArray.foreach(WrappedArray.scala:35)
	at org.apache.spark.ml.feature.VectorAssembler$.assemble(VectorAssembler.scala:255)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$4.apply(VectorAssembler.scala:144)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$4.apply(VectorAssembler.scala:143)
	... 32 more

In [ ]:
test_results = model.transform(test)

In [ ]:
test_results.show()

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [ ]:
mae_eval = RegressionEvaluator(labelCol=answer_col, metricName='mae')
# mae_eval = MulticlassClassificationEvaluator(labelCol=answer_col)

In [ ]:
mae = mae_eval.evaluate(test_results)

In [ ]:
print(mae)

In [ ]:
nb = NaiveBayes(labelCol=answer_col)

In [ ]:
model = nb.fit(training)

In [ ]:
test_results = model.transform(test)

In [ ]:
test_results.show()

In [ ]:
mce = MulticlassClassificationEvaluator(labelCol=answer_col)

In [ ]:
acc = mce.evaluate(test_results)

In [ ]:
print(acc)